################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNeCoretTrails.Tests
/.vs/DotNetCoreTrails/v16/TestStore/0
/.vs/DotNetCoreTrails/DesignTimeBuild/.dtbcache.v2
